<?xml version="1.0"?>
<config>
	<modules>
		<Hackathon_Frontendeditor>
			<version>0.1.0.1</version>
        </Hackathon_Frontendeditor>
    </modules>
	<frontend>
		<layout>
			<updates>
				<frontendeditor>
					<file>hackathon/frontend_editor/frontend_editor.xml</file>
				</frontendeditor>
			</updates>
		</layout>
		<events>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<frontend_editor_is_admin>
						<class>Hackathon_Frontendeditor_Model_Session</class>
						<method>dispatchIsActive</method>
						<type>singleton</type>
					</frontend_editor_is_admin>
				</observers>
			</core_block_abstract_prepare_layout_after>
		</events>
	</frontend>
	<global>
		<blocks>
			<frontendeditor>
				<class>Hackathon_Frontendeditor_Block</class>
			</frontendeditor>
		</blocks>
		<models>
			<frontendeditor>
				<class>Hackathon_Hackathon_Frontendeditor_Model</class>
			</frontendeditor>
		</models>
	</global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_Frontendeditor before="Mage_Adminhtml">Hackathon_Frontendeditor_Adminhtml</Hackathon_Frontendeditor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
