<?xml version="1.0"?>
<config>
	<modules>
		<Hackathon_FrontendEditor>
			<version>0.1.0.0</version>
		</Hackathon_FrontendEditor>
	</modules>
	<frontend>
		<layout>
			<updates>
				<frontend_editor>
					<file>hackathon/frontend_editor/createjs.xml</file>
				</frontend_editor>
			</updates>
		</layout>
		<events>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<frontend_editor_is_admin>
						<class>DMC_CreateJs_Model_Session</class>
						<method>dispatchIsActive</method>
						<type>singleton</type>
					</frontend_editor_is_admin>
				</observers>
			</core_block_abstract_prepare_layout_after>
		</events>
	</frontend>
	<global>
		<blocks>
			<frontendeditor>
				<class>DMC_CreateJs_Block</class>
			</frontendeditor>
		</blocks>
		<models>
			<frontendeditor>
				<class>DMC_CreateJs_Model</class>
			</frontendeditor>
		</models>
	</global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_FrontendEditor before="Mage_Adminhtml">Hackathon_FrontendEditor_Adminhtml</Hackathon_FrontendEditor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
